<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  android:versionCode="1"
  android:versionName="1.0">
  
  <!-- Added permissions for audio playback -->
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  
  <!-- Specify minimum SDK version -->
  <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
  
  <application 
    android:label="Binaural player" 
    android:icon="@drawable/icon"
    android:allowBackup="true"
    android:requestLegacyExternalStorage="true">
    
    <service 
      android:name="Binaural_player" 
      android:process=":player"
      android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.RUN"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:mimeType="application/x-sbagen-sequence"/>
      </intent-filter>
    </service>
    
    <activity 
      android:name="Binaural_player_GUI"
      android:label="Binaural player" 
      android:exported="true"
      android:configChanges="orientation|screenSize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:mimeType="application/x-sbagen-sequence"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
